MORALIS_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6ImMzZWVlNTJkLTA3ZDMtNDIzNS04MWNmLWQ3OGI1NGJjZGUxZSIsIm9yZ0lkIjoiNDcyNzI5IiwidXNlcklkIjoiNDg2MzA5IiwidHlwZUlkIjoiNjkxYzBhMDMtNzc3My00ODBlLWIzMTYtN2UxNDMyNTQ2ODkwIiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3NTg5OTI3MzUsImV4cCI6NDkxNDc1MjczNX0.dfnBb7h0IkdfX8mQhUaIFNXwxwuBHBwP6DGWfQ1G58k"